[Unit]                                                                    
Description=Load IMA measurement policy                                   
DefaultDependencies=no                                                    
After=systemd-remount-fs.service                                          
Before=sysinit.target                                                     
ConditionPathExists=/sys/kernel/security/ima/policy                       
                                                                      
[Service]                                                                 
Type=oneshot                                                              
ExecStart=/bin/sh -c 'cat /etc/ima/ima-policy > /sys/kernel/security/ima/policy'                                            
RemainAfterExit=yes                                                       
                                                                   
[Install]                                                                 
WantedBy=sysinit.target   
